        .content button {
    width: 30%;
    height: 6vh;
}
.content button {
    width: clamp(120px, 50%, 200px);
}
section {
    width: 100%;
    height: 90vh;
}@media (max-width: 768px) {
  section {
    height: auto;
    padding: 60px 0;
  }
}
.main-container .image {
    width: 500px;
    height: 80vh;
}
@media (max-width: 768px) {
  .main-container .image {
    width: 80%;
    height: auto;
  }
}
.about .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about .content,
  .skills .content {
    flex-direction: column;
  }

  .about .content .col-left,
  .about .content .col-right,
  .skills .content .col-left,
  .skills .content .col-right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact .content .row {
    flex-direction: column;
    align-items: center;
  }
}

